<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.help_meit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Console_Question5"></activity>
        <activity android:name=".Console_Question4" />
        <activity android:name=".Console_Question3" />
        <activity android:name=".Console_Question2" />
        <activity android:name=".Phone_Question6" />
        <activity android:name=".Phone_Question5" />
        <activity android:name=".Phone_Question4" />
        <activity android:name=".Phone_Question3" />
        <activity android:name=".Phone_Question2" />
        <activity android:name=".PC_Question5" />
        <activity android:name=".PC_Question4" />
        <activity android:name=".PC_Question3" />
        <activity android:name=".PC_Question2" />
        <activity android:name=".Console_Question1WhatSystem" />
        <activity android:name=".Phone_Question1MakeModel" />
        <activity android:name=".PC_Question1" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>